/* Font for all */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor: #2dc86f;
}
button, i, a{
    cursor: pointer;
}
body{
    background-color: var(--bgColor);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}


/* for bottom observer */
.bottom{
    opacity: 0;
    transform: translateY(20rem);
    transition: 1s all;
    filter: blur(5px);
}
.bottom-show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
    /* for bottom observer */




    /* for rigth observer */
    .right{
        opacity: 0;
        transform: translateX(10rem);
        transition: 1s all;
        filter: blur(5px);
    }
    .right-show{
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }
    /* for right observer */

