.hero-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   height: 100vh;
   color: white;
   letter-spacing: 1px;
}
.bg{
    z-index: -2;
}
.bg img{
    width: 11rem;
    position: fixed;
    z-index: -1;
    filter: blur(10px);
    margin: 50px;
}
.img-1{
    top: 7rem;
    left: 12rem;
}
.img-2{
    bottom: 5rem;
    right: 12rem;
}
.img-3{
    bottom: 5rem;
    left: 31rem;
}
.img-4{
    right: 30rem;
    top: 7rem;
}
.txt-left{
    padding: 0 50px;
    margin-top: 5rem;
}
.txt-left h1{
    font-size: 50px;
    margin: 15px 0;
}
.txt-left p{
    font-size: 25px;
    margin: 15px 0;
}
.txt-left i{
    margin-right: 10px;
}
.txt-left button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 1rem;
}

.img-right{
    width: 25vw;
    height: 80vh;
    justify-self: baseline;
    display: flex;
    align-items: end;
    margin-top: 6rem;
}
.img-right img{
    width: 20rem;
}
@media (width < 1348px){
    .hero-container{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 9rem;
        height: 100%;
    }
    .txt-left{
        margin-top: 7rem;
    }
    .img-right img{
        width: 18rem;
    }
    .txt-left p{
        font-size: 18px;
        
    }
    .img-right{
        height: 77vh;
        width: 100vw;
        justify-content: center;
    }
    .txt-left h1{
        font-size: 35px;
    }
}
@media (width < 465px){
    .txt-left button{
        font-size: 15px;
        padding: 5px;
    }
    .img-right{
        display: flex;
        justify-content: center;
    }
}
@media (width < 419px) {
    .img-right img{
        width: 80vw;
    }
}